
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #28389f,#2161b5,#78add1);
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topSide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#titulo{
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    border-bottom: 4px solid #28389f;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 600;
    transform: translateX(-3vw);
}


.formulario {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
    height: 80vh;
    width: 30vw;
}

#formBlock {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 20vw;
    align-items: center;
}

.input-box {
    margin-bottom: 5vh;
    border-style: solid;
    border-color: #28389f;
    border-bottom: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-field {
    margin-top: 1vh;
}

.input-field input:focus {
    outline: none;
}

#userInput, #nameInput, #sexoInput {
    width: 15vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#sexoInput {
    cursor: pointer;
}


#cadastrarInput, #AtualizarInput {
    border: none;
    padding: 7px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 16vw;
    height: 6vh;
    background: linear-gradient(90deg, #28389f,#2161b5,#78add1);
    transition: 0.5s;
    margin-top: 1vh;
}

#cadastrarInput:hover {
    width: 17vw;
    height: 7vh;
    transition: 0.5s;
}

#AtualizarInput:hover {
    width: 17vw;
    height: 7vh;
    transition: 0.5s;
}

#labels {
    color: #797984;
    font-size: 13px;
}

.textoCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    border-bottom: 4px solid #28389f;
    width: 450px;
    align-self: center;
}

.bottonSide {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.userSquare {
    width: 15vw;
    height: 13vw;
    background-color: white;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
  }

.credContainer {
    height: 70%;
}

.buttonContainer {
    display: flex;
    margin-top: 2vh;
}

.boxBut {
    width: 5vh;
    height: 5vh;
    border: none;
    margin-right: 1vw;
    background-color: #28389f;
    color: #ffffff;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.5s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}

.boxBut:hover {
    background-color:#ffffff;
    color:#28389f;
    transition: 0.5s;
}
